*{margin: 0; padding: 0;}
body{background-color: #ddd; line-height: 180%; margin: 0; padding: 0;}
a{text-decoration: none;}
ul li{list-style: none;}
.clean{clear: both;}
.header{line-height: 50px;height: 50px; background-color: #000; color: #fff; padding: 0 20px;}
.head-left{float: left;}
.head-right{float: right;}
.head-right a{padding-left: 20px;}
.header a{display: inline-block; color: #FFF; float: left;}

.section{background-color: #fff; margin: 20px 20px 0px 20px; padding: 10px;  box-shadow: 3px 3px 0px  #ccc}
h1{}
h2{font-size: 30px; line-height: 180%}
h3{font-size: 20px;color: #aaa; line-height: 180%}
h4{font-size: 14px;color: #aaa; line-height: 180%}
table{width: 100%; border:1px solid #ddd;}
th{background-color: #999; color: #fff; text-align: left;}
.img_box{width: 150px;border: 1px solid #ddd;  padding: 10px; margin-bottom: 20px; text-align: center; line-height: 0;}
.img_box img{width: 100%; height: 100%; }
.img_box h3{color: #000; font-size: 16px;line-height: 30px;}
.section_four ul li{list-style: decimal; }
.section_four ul {padding-left: 30px}
.section_five ul li{list-style: none; padding: 0; margin: 0;}
.section_five ul{padding: 10px;}
.li_left{width: 40%; text-align: right; float: left;}
.li_right{width: 60%; text-align: left; float: right;}
.li_right input{line-height: 18px; padding: 3px; margin-left: 10px;}
.li_left p{padding-right: 20px;}

.section_five form,.section_five form ul{clear: both; }

.left_bar{height: 35px; line-height: 35px; border-left: 2px solid #ddd; padding: 0 20px; font-weight: bold;}
footer{width: 100%; background-color: #000; color: #fff;line-height: 50px;}
.btn-ok{display: inline-block; width: 100%; text-align: center; line-height: 35px; background-color: blue; border-radius: 10px; color: #fff; text-decoration: none;}
.btn-ok:hover{background-color: #898} 


